[submodule "elisp/coffee-mode"]
	path = elisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "elisp/go-mode"]
	path = elisp/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "elisp/company-mode"]
	path = elisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "gocode"]
	path = gocode
	url = https://github.com/nsf/gocode.git
